.section-title {
    font-size: 20px;
    font-weight: 700;
  }
  
  .see-more {
    font-size: 14px;
    color: #000;
    text-decoration: none;
  }
  
  .see-more:hover {
    text-decoration: underline;
  }
  
  .products-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 63%;
    overflow: hidden;
    position: relative;
    padding: 40px 20px;
  }
  
  .swiper {
    width: 100%;
    overflow: hidden;
  }
  
  .swiper-slide {
    width: calc(100% / 5 - 30px);
    margin-right: 30px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .product-card img {
    max-width: 100%;
    max-height: 222px;
    object-fit: contain;
  }
  
  .product-description {
    font-size: 14px;
    color: #000;
    margin-bottom: 8px;
  }
  
  .old-price {
    font-size: 12px;
    color: #303030;
    text-decoration: line-through;
  }
  
  .new-price {
    font-size: 16px;
    color: #000;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .discount {
    font-size: 12px;
    background-color: #5ec0be;
    text-decoration: underline;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
    padding: 3px 3px;
    border-radius: 3px;
  }
  
  .installment {
    font-size: 12px;
  }
  
  .installment-highlight {
    font-weight: bold;
    color: #000;
  }
  
  .buy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #005cff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 60px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .buy-button:hover {
    background-color: #0056b3;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  .swiper-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 10;
  }
  
  .swiper-pagination-bullet {
    background-color: #007bff;
    width: 8px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  