* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #fff;
}

#discount-bar {
  background-color: #005cff;
  color: #fff;
  font-weight: bold;
  text-align: center;
  height: 30px;
  padding: 5px 0;
  font-size: 14px;
}

#discount-bar .coupon {
  font-weight: 300;
  font-style: italic;
}

#discount-value {
  background-color: #6220c1;
  height: 16px;
  width: 63px;
  top: 7px;
  padding: 2px;
  color: white;
  border-radius: 4px;
}

#main-header {
  background: white;
  padding: 15px 0;
  width: 1920px;
  height: 118px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  width: 152.57;
  height: 27.08;
  top: 52px;
  left: 330px;
}

.search-bar {
  position: relative;
  display: inline-block;
}

.search-bar input {
  width: 594px;
  height: 40px;
  top: 47px;
  border-radius: 10px;
  border: 1px solid #dddddd;
  padding: 8px 40px 8px 12px;
  font-size: 16px;
  outline: none;
  color: #000;
}

.search-bar i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-size: 16px;
}

.search-bar input::placeholder {
  color: #000;
  opacity: 1;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.client-section {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #000;
  text-decoration: none;
  display: flex;
  line-height: 1;
  font-weight: 600;
  font-size: 14px;
}

.client-section svg {
  width: 20.57px;
  height: 24px;
}

.cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
  transition: background 0.3s ease;
}

.cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.cart svg {
  width: 26px;
  height: 24px;
}

.cart-badge {
  position: absolute;
  right: 5px;
  width: 21px;
  height: 21px;
  background-color: #005cff;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(50%, -50%);
  color: #fff;
  font-weight: 700;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
}

.categories-left {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

#categories-icon {
  font-size: 14px;
  margin-right: 8px;
  cursor: pointer;
}

.category-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}

.categories ul {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 0;
}

.categories li {
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

.supersale {
  font-family: "Nunito", serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1920px;
  height: 510px;
  top: 148px;
  background: #e7e7ea;
  padding: 0 200px;
}

.supersale-image {
  width: 685px;
  mix-blend-mode: Darken;
  margin-left: 110px;
}

.supersale-content {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-right: 120px;
}

.supersale-title {
  text-align: center;
  font-size: 100px;
  font-weight: normal;
}

.supersale-title span {
  font-weight: 700;
}

.supersale-text {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: #005cff;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 8px;
}

.supersale-discount {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  color: #005cff;
}

.section-header {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 61rem; 
  margin: 0 auto;
  padding: 15px 20px;
  margin-top: 50px;
}

.section-title {
  font-size: 20px;
  font-weight: 700;
}

.see-more {
  font-size: 14px;
  color: #000;
  text-decoration: none;
}

.see-more:hover {
  text-decoration: underline;
}

.products-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 1200px;
  overflow: hidden;
  position: relative; 
  padding: 40px 20px;
}

.swiper {
  width: 100%;
  overflow: hidden;
}

.swiper-slide {
  width: calc(100% / 5 - 30px); 
  margin-right: 30px; 
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 320px;      
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;    
}

.product-card img {
  max-width: 100%; 
  max-height: 222px; 
  object-fit: contain;
}


.product-description {
  font-size: 14px;
  color: #000;
  margin-bottom: 8px;
}

.old-price {
  font-size: 12px;
  color: #303030;
  text-decoration: line-through;
}

.new-price {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discount {
  font-size: 12px;
  background-color: #5EC0BE;
  text-decoration: underline;
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
  padding: 3px 3px;
  border-radius: 3px;
}


.installment {
  font-size: 12px;
}

.installment-highlight {
  font-weight: bold;
  color: #000;
}

.buy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #005CFF;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 60px; 
  margin-top: 15px;  
  margin-bottom: 15px;
}


.buy-button:hover {
  background-color: #0056b3;
}


.swiper-button-next,
.swiper-button-prev {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}


.swiper-pagination {
  position: absolute;
  bottom: -40px; 
  left: 50%;
  transform: translateX(-50%); 
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 10;
}



.swiper-pagination-bullet {
  background-color: #007bff; 
  width: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

